<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestor de Gastos{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Gestor de Gastos</h1>
        <p><a href="{% url 'index' %}">Back</a></p>
        <!-- Aquí podrías agregar un menú de navegación -->
        
    </header>

    <main>
        {% block content %}
        <!-- Aquí se insertará el contenido específico de cada página -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Gestor de Gastos</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>